{% extends 'base.html.twig' %}

{% block body %}
    <div class="tile is-parent is-4">
        {% block fos_user_content %}{% endblock %}
    </div>
    <script type="text/javascript" src="{{ asset('build/zxcvbn.js') }}"></script>
{% endblock %}
