<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Petregister{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/styles.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="columns is-mobile">
            <div class="column has-background-light
                        is-10-mobile is-offset-1-mobile
                        is-8-tablet is-offset-2-tablet
                        is-6-fullhd is-offset-3-fullhd">
                {% include 'menu.html.twig' %}
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}
            <script src="{{ asset('build/scripts.js') }}"></script>
        {% endblock %}
    </body>
</html>
