<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Petregister{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/styles.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="columns is-mobile">
            <div class="column is-three-fifths is-offset-one-fifth has-background-primary">
                {% include 'menu.html.twig' %}
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}
            <script src="{{ asset('build/scripts.js') }}"></script>
        {% endblock %}
    </body>
</html>
