<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/styles.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="container is-fluid">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('build/scripts.js') }}"></script>
        {% endblock %}
    </body>
</html>
